body {
    font-family: 'Graduate', cursive;
    margin: 0px;
}
/* Section 1 for top */
.container {
    background-color: #2D25A0;
    
}
.container:hover {
    background-color: rgb(73, 67, 57);
}
.top-part {
    display: flex;
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom: 5%;
    padding-right: 10%;
}
.content {
    width: 100%;
}


h1 {
    color: white;
    font-size: 84px;
    line-height: 150px;
    font-weight: 700;
}
h1:hover {
    transform: rotate(360deg);
    transition: transform 1s ease-in;
}
button {
    text-decoration: none;
    background-color: rgb(134, 233, 22);
    border: 1x solid;
    padding: 2%;
    color: rgb(46, 7, 7);
    border-radius: 25%;
    width: 180px;
    background-image: linear-gradient(rgb(187, 47, 117) yellow);
    box-shadow: 10px 10px 23px gray;
    
}
button:hover {
    background-color: rgb(255, 0, 221);
    color: white ;
    transform: rotate(-10deg);
    transition: transform 1s ease-in;
}
button a {
    text-decoration: none;
    color: rgb(77, 43, 15);
    font-size: 20px;
    font-weight: 900;
}
.content img{
    width: 100%;
}
.content img:hover {
    transform: rotate(-20deg);
    transition: transform 1s ease-in;
}

/* Website courses part */
.container2 {
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 5%;
    padding-right: 10%;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

}
.player {
    border: 1px solid rgb(235, 226, 226);
    padding-left: -50%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: -10%;
    box-shadow: gray 1px 2px 5px;
    border-radius: 5%;
    text-align: center;
}
.player-detail {
    text-align: justify;
    padding: 5%;
}
.player .player-banner img{
    width: 450px;
    align-items: center;
    border-radius: 5%;

}
.player-title {
    font-size: 28px;
}
/* 3rd section  */

.video-sec {
    color: black;
    font-size: 48px;
    line-height: 80px;
    font-weight: 700;
    color: #2D25A0;
    padding-top: 15%;
}
.top-part2 {
    display: flex;
    padding-left: 10%;
    padding-bottom: 5%;
    padding-right: 10%;
}
/* Footer Section CSS */

.footer {
    text-align: center;
    background-color: rgb(249, 250, 249);
}
.footer-logo img{
    width: 292px;
}
.footer-logo img:hover{
    transform: rotate(360deg);
    transition: transform 2s ease-out;
}

.fa-facebook {
    color: #1877F2 ;
    font-size: 32px;
}
.fa-instagram-square {
    color: #EB6349 ;
    font-size: 32px;
}
.fa-twitter-square {
    color: #50ABF1;
    font-size: 32px;
}
.fa-youtube {
    color: #FF0000;
    font-size: 32px;
}
.copy-right a{
    text-decoration: none;
}
.copy-right {
    font-size: 15px;
}

/* Media Query for Responsive for mobile and tablet */

@media only screen and (max-width: 700px) {
    .container2, .container4 {
        width: 100%;
    }
    .top-part {
        display: block;
    }
    h1 {
        color: white;
        font-size: 36px;
        line-height: 60px;
        font-weight: 700;
    }
    button {
        padding: 2%;
        color: rgb(46, 7, 7);
        border-radius: 25%;
        width: 170px;
        box-shadow: 10px 10px 23px gray;
        
    }
    .content img{
        width: 329px;
        height: 259.17px;
        left: 344px;
        top: 374px;
    }
    .content img:hover {
        transform: rotate(-10deg);
        transition: transform 1s ease-in;
    }

    .players {
        background-color: rgb(230, 225, 216);
        grid-template-columns: repeat(1, 1fr);
    }
    .players {
        flex-direction: column;
    }
    .hello2 {
       width: 329px;
    }
}